@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    font-family: 'Varela Round', sans-serif;
}
 h5{
  font-style: italic;
  margin-top:-10px;
  color: #6d6d6d;
}

* {
  text-align: justify;
  text-justify: inter-word;
}

#proc_canvas { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-50px;
    margin-top:-15px;
}

#canv{ 
    width: 750px;
    height: 300px;
    position: relative;
    margin: auto;
    border-radius: 25px;
}


#proc_canvas #myname { 
    text-align: center;
    position: relative;
    bottom: 215px;
}

#myname h1, #myname a {
    font-family: 'Varela Round', sans-serif;
    font-size:55px;
    text-align: center;
}

#proc_canvas a {
    text-decoration: none;
}

#proc_canvas a:hover {
    font-style: normal;
}

#proc_canvas h1 { 
    font-size: 55px;
    text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
    margin: 0;
}

#myname h1, #myname h1 a, #myname h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}




#proc_canvasmid { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-35px;
    margin-top:-15px;
}

#canvmid{ 
    width: 600px;
    height: 250px;
    position: relative;
    margin: auto;
    border-radius: 20px;
}


#proc_canvasmid #mynamemid { 
    text-align: center;
    position: relative;
    bottom: 170px;
}

#mynamemid h1, #mynamemid a {
    font-family: 'Varela Round', sans-serif;
    font-size:43px;
    line-height:25px;
    text-align: center;
}

#proc_canvasmid a {
    text-decoration: none;
}

#proc_canvasmid a:hover {
    font-style: normal;
}

#proc_canvasmid h1 { 
    font-size: 43px;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    margin: 0;
}

#mynamemid h1, #mynamemid h1 a, #mynamemid h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}



#proc_canvassmall { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-50px;
    margin-top:-15px;
}

#canvsmall{ 
    width: 350px;
    height: 200px;
    position: relative;
    margin: auto;
    border-radius: 15px;
}


#proc_canvassmall #mynamesmall { 
    text-align: center;
    position: relative;
    bottom: 160px;
}

#mynamesmall h1, #mynamesmall a {
    font-family: 'Varela Round', sans-serif;
    font-size:35px;
    line-height:30px;
    text-align: center;
}

#proc_canvassmall a {
    text-decoration: none;
}

#proc_canvassmall a:hover {
    font-style: normal;
}

#proc_canvassmall h1 { 
    font-size: 35px;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    margin: 0;
}

#mynamesmall h1, #mynamesmall h1 a, #mynamesmall h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
}

#paige-main{
    font-size:18px;
}

.paige-title{
    font-size:25px;
}

.display-5{
    font-size:35px;
}

.paige-summary{
    font-size:15px;
}

 /* On smaller resolutions, hide the text for Large screens */
 @media only screen and (max-width: 500px) {
     .largeScreen {display: none;}
     .midScreen {display: none;}
}

/* On larger resolutions, hide the text for Small screens */
 @media only screen and (min-width: 900px) {
     .smallScreen {display: none;}
     .midScreen {display: none;}
}

/* On larger resolutions, hide the text for Small screens */
 @media only screen and (min-width: 500px) and (max-width: 900px){
     .smallScreen {display: none;}
     .largeScreen {display: none;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
