
a {
  color: hotpink;
}

* {
    font-family: 'Varela Round', sans-serif;
}

.nav-link {
  color: #cc99ff;
}   

h5{
  font-style: italic;
  margin-top:-10px;
  color: #6d6d6d;
}

h6{
  font-style: italic;
  margin-top:-10px;
  margin-bottom: 10px;
  font-size:20px;
  text-align: center;
}

* {
  text-align: left;
  text-justify: inter-word;
}

p {
  text-indent: 25px;
}

.footnotes p {
  text-indent: 0px;
}

.badge {
  text-indent: 0px;
}

#proc_canvas { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-50px;
    margin-top:-15px;
}

#canv{ 
    width: 750px;
    height: 300px;
    position: relative;
    margin: auto;
    border-radius: 25px;
}


#proc_canvas #myname { 
    text-align: center;
    position: relative;
    bottom: 215px;
}

#myname h1, #myname a {
    font-family: 'Varela Round', sans-serif;
    font-size:55px;
    text-align: center;
}

#proc_canvas a {
    text-decoration: none;
}

#proc_canvas a:hover {
    font-style: normal;
}

#proc_canvas h1 { 
    font-size: 55px;
    text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
    margin: 0;
}

#myname h1, #myname h1 a, #myname h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}




#proc_canvasmid { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-35px;
    margin-top:-15px;
}

#canvmid{ 
    width: 600px;
    height: 250px;
    position: relative;
    margin: auto;
    border-radius: 20px;
}


#proc_canvasmid #mynamemid { 
    text-align: center;
    position: relative;
    bottom: 170px;
}

#mynamemid h1, #mynamemid a {
    font-family: 'Varela Round', sans-serif;
    font-size:43px;
    line-height:25px;
    text-align: center;
}

#proc_canvasmid a {
    text-decoration: none;
}

#proc_canvasmid a:hover {
    font-style: normal;
}

#proc_canvasmid h1 { 
    font-size: 43px;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    margin: 0;
}

#mynamemid h1, #mynamemid h1 a, #mynamemid h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}



#proc_canvassmall { 
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
    padding:0em;
    margin-bottom:-50px;
    margin-top:-15px;
}

#canvsmall{ 
    width: 350px;
    height: 200px;
    position: relative;
    margin: auto;
    border-radius: 15px;
}


#proc_canvassmall #mynamesmall { 
    text-align: center;
    position: relative;
    bottom: 160px;
}

#mynamesmall h1, #mynamesmall a {
    font-family: 'Varela Round', sans-serif;
    font-size:35px;
    line-height:30px;
    text-align: center;
}

#proc_canvassmall a {
    text-decoration: none;
}

#proc_canvassmall a:hover {
    font-style: normal;
}

#proc_canvassmall h1 { 
    font-size: 35px;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    margin: 0;
}

#mynamesmall h1, #mynamesmall h1 a, #mynamesmall h1 a:hover { padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: -1px;
    text-decoration: none;
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
}


.paige-title{
    font-size:25px;
}

.display-5{
    font-size:35px;
}

.paige-summary{
    font-size:15px;
}

 /* phone */
 @media only screen and (max-width: 600px) {
     .largeScreen {display: none;}
     .midScreen {display: none;}
    #paige-main{
        font-size:14px;
    }
    .suggestedlinks{
      font-size:17px;
    }
    .suggestedsummary{
      font-size:14px;
      padding-bottom: 10px;
    }
    .suggestedtitle{
      font-size:17px;
    }
}

/* computer */
 @media only screen and (min-width: 900px) {
     .smallScreen {display: none;}
     .midScreen {display: none;}

    #paige-main{
        font-size:18px;
    }

    .suggestedlinks {
        font-size:20px;
    }
    .suggestedsummary{
      font-size:16px;
    }

}

/* tablet */
 @media only screen and (min-width: 600px) and (max-width: 900px){
     .smallScreen {display: none;}
     .largeScreen {display: none;}

    #paige-main{
        font-size:16px;
    }

    .suggestedlinks{
      font-size:18px;
    }

    .suggestedsummary{
      font-size:14px;
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blockquote{
  font-size:18px;
  font-style: italic;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

li {
  margin-top: -0px;
  text-align: center;
}

ul {
  margin-top: -0px;
  text-align: center;
  list-style-position: inside;
}

.centerlinks{
  padding-top:25px;
  display: inline-block;
  width:93%;
  position: relative;

}
.centerlinks p {
  line-height: 100%;
  text-align: center;
}

.suggestedlinks{
  text-align:center;
  color: #FFF;
}

.suggestedtitle{
  text-align:center;
}

.suggestedsummary{
  text-align:center;
  font-style: italic;
  margin-top:-10px;
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 375px;
  height: 375px;
}

#mysystem {
  width: 675px;
  height: 500px;
}

#compselv {
  display: flex;
  margin: auto;
  width: 100%;
  height: 500px;
  padding-bottom: 100px;
  /*height: calc(100vh - 300px);*/
}


.colorbox {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  float: left;
  padding: 25px;
  margin-right: 25px;
}

.partsPage p{
  text-indent: 0px;
}
