<!--<div id="proc_canvas">
    <canvas id="canv" data-processing-sources="processing/voronoi.pde"></canvas>
    <div id="myname">
        <h1><a href="/">Life; compartmentalized</a></h1>
    </div>
</div>-->

<div>
    <div class="smallScreen">
        <div id="proc_canvassmall">
            <canvas id="canvsmall" data-processing-sources="processing/voronoismall.pde"></canvas>
            <div id="mynamesmall">
                <h1><a href="/">Life; compartmentalized</a></h1>
            </div>
        </div>
    </div>

    <div class="largeScreen">
        <div id="proc_canvas">
            <canvas id="canv" data-processing-sources="processing/voronoi.pde"></canvas>
            <div id="myname">
                <h1><a href="/">Life; compartmentalized</a></h1>
            </div>
        </div>
    </div>
</div>
